@font-face {
    font-family: MECC;
    src: url('Fonts/MECC.ttf');
}
html{
    font-size: 3vmin;
    font-family: MECC, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
}
#mainContents{ 
    font-size: 0;
}
#mainContents > *{
    display: inline-block;
}

#mainContents > * > *{
    font-size: 1rem;
}



@font-face {
    font-family: Adine;
    src: url('Fonts/Adine_Kirnberg.ttf');
}
#mainContents{
    height: 70%;
}
#container {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: inline-block;
    box-sizing: border-box;
    color: white;
}

header {
    height: 25%;
    width: 100%;
    background-color: black;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: white;
    background-image: url(images/background.jpg);
    background-position: bottom;
    position: relative;
}
#wagon{
    background-image: url(images/wagon.png);
    height: 100px;
    width: 400px;
    left: 60%;
    transform: translateX(-50%);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}
#oxen{
    background-image: url(images/oxenAnim.png);
    background-size: 200% 100%;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 62px;
    width: 116px;
    position: absolute;
    left: -3%;
    bottom: -4%;
}
.wheel{
    border-radius: 50%;
    border: 10px solid white;
    width: 5vw;
    height: 5vw;
    position: absolute;
    bottom: -24%;
    z-index:0;
    -webkit-animation: turn 1s linear infinite;
}
@-webkit-keyframes turn {
    from {transform: rotateZ(90deg);}
    to {transform: rotateZ(0deg);}
}
.wheel::before, .wheel::after{
    content: '';
    height: 30%;
    width: 100%;
    position: absolute;
    background-color: white;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.wheel::after{
    transform: translateY(-50%) rotateZ(90deg);
}
.wheel:nth-child(1){
    left: 34%;
}
.wheel:nth-child(2){
    right: 35%;
}
#banner {
    background-color: black;
    height: 18%;
    width: 30%;
    background-image: url(images/TheOregonTrailTitle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin: auto;
    border-radius: 0% 0% 50% 50%    ;
}
#mainTextDisplay{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
#mainTextDisplay span {

    width: auto;
    height: auto;
    display: inline-block;
    background-color: black;
    text-align: center;
    font-size: 2.2vmin;
    color: white;
    border: solid white 5px;
    border-radius: 6px;
    padding: 4px 30px;
    margin-top: 1vh;

}
#leftSideBar, #rightSideBar{
    width: 20% ;
    height: 100%;  
    color: white; 
    vertical-align: top;
}
#leftSideBar {


}

#leftSideBar > div{

    background-color: black;
    display: block;
    font-size: 1.4vmin;
    text-align: left;
    color: white;
    padding-top: 2vh;
    padding-left: 50px;


}



#gameBody {

    width: 60%;
    height: 65%;
    background-color: black;
    box-sizing: border-box;

}
#gameBody > * {
    float: left;
}

#rightSideBar {
}
#rightSideBar.ailing .timerBar:not(.depleted){
    background-color: red;
}
#rightSideBar{
    transition-property: background-color;
    transition-duration: 1s;    
}
.timerBar{
    transition-property: width background-color;
    transition-duration: .5s;
}
.timerBar {

    width: 5vw;
    height: .43vh;
    background-color: chartreuse;
    display: block;
    margin: 2px;
    margin-left: 5vw;
    text-align: center;

}

.timerBar.depleted {
    background-color: grey;
    width: 4vw;
    margin-left: 5.5vw;

}
#leftImg, #rightImg{
    background-size: contain;
    background-size: contain;
    background-repeat: no-repeat; 
    width: 5%;
    height: 100%;   
}
#rightImg {
    background-image: url(images/oregonTrailRightSideBarImage.png);
}
#leftImg {
    background-image: url(images/oregonTrailLeftSideBarImage.png);
}

footer {

    height: 5%;
    background-color: black;
    display: inline-block;
    width: 100%;

}
#cardContainer{ 
    width: 90%; 
}

#cardContainer > .card {
    width: 16.6%;
    height: 8vw;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    float: left;


}

.card {

    background-image: url(images/cardback.png);

}

#gameBody > div.card:hover {

    width: 5.5vw;
    height: 8.3vw;
    margin: .55vw;
    margin-top: 1vh;
    background-image: url(images/cardback.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;

}
footer{
    display: flex;
    justify-content: space-between;
}
footer > button{
    height:3vh;
    width: 4vw;   
    font-size: 10px;
    background-color: #202020;
    color: white;
    cursor: pointer;
    border-radius: 5%;
    margin: 0 5%;
    border: none;
}
#gameResetButton{
    


}

#aboutMeButton{
    float: left;


}

#aboutMeButton:hover {

    background-color: gray;

}

#gameResetButton:hover {

    background-color: gray;

}

.disableClick {
    pointer-events: none;

}

.exhaustion{

    background-image: url(images/exhaustion.png);

}

.dysentery{

    background-image: url(images/dysentery.png);

}

.typhoid{

    background-image: url(images/typhoid.png);

}

.measles{

    background-image: url(images/measles.png);

}

.freshWater{

    background-image: url(images/freshWater.png);

}

.heartyFood{

    background-image: url(images/heartyFood.png);

}

.restStop{

    background-image: url(images/restStop.png);
}

.oxen{

    background-image: url(images/oxen.png);

}

.river{

    background-image: url(images/river.png);


}

.tree{

    background-image: url(images/tree.png);

}
.rifle{

    background-image: url(images/rifle.png);

}

.cactus{

    background-image: url(images/cactus.png);

}

.bovineSkull{

    background-image: url(images/bovineSkull.png);

}

.deer{

    background-image: url(images/deer.png);

}

.tumbleweed{

    background-image: url(images/tumbleweed.png);

}

#aboutModal {

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: 90vh;
    background-image: url(images/parchment.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    color: black;
    font-family: cursive;
    text-align: center;

}
#modalBody{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10%;
    text-align: center;
}


#aboutModal.modalVisibility{

    display: block;

}

#aboutModal p {
    font-size: .5rem;

}

#closeModalButton{
    position: fixed;
    font-size: 1rem;
    bottom: 5%;
    left: 50%;
    margin-top: 15px;
    color: white;
    transform: translateX(-50%);
    background-color: black;
    padding: 2%;
    border-radius: 5px;
}

#closeModalButton:hover {

    background-color: gray;

}

a{
    font-size: 1.2vw;
}

#aboutTemplate{
    display: none;
}
